{{- define "main" }}

<article class="post-single treehouse-single">
  <header class="post-header">
    {{- partial "breadcrumbs.html" . }}
    <h1 class="post-title entry-hint-parent">{{ .Title }}</h1>
    {{- if or (not .Date.IsZero) .Description }}
    <div class="post-meta treehouse-meta">
      {{- if not .Date.IsZero }}
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date | time.Format ":date_long" }}</time>
      {{- end }}
      {{- with .Description }}
      <span>{{ . }}</span>
      {{- end }}
    </div>
    {{- end }}
  </header>

  {{- if .Content }}
  <div class="post-content md-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  <footer class="post-footer treehouse-footer">
    <a class="treehouse-back-link" href="{{ "/treehouse/" | relURL }}">All notes</a>
  </footer>
</article>

{{- end }}{{/* end main */}}
